body {
  font-size: 100%;
  font-family: arial;
  text-align: center;
}
.container {
  margin: 0 auto;
  width: 1085px;
  height: 295px;
}
header,
.phone,
main {
  display: flex;
  flex-wrap: wrap;
}
header,
main,
footer {
  border: 3px solid #eaeaea;
}
.leftsideheader {
  font-size: 14px;
  padding: 37px 380px 37px 82px;
}
.leftsideheader img {
  width: 271px;
  height: 185px;
  font-size: 16px;
}
.rightsideheader {
  padding: 99px 82px 99px 0;
  text-align: end;
}
.rightsideheader img {
  width: 39px;
  height: 39px;
}
.phone p {
  font-weight: 700;
  font-size: 36px;
}
.phone a {
  display: flex;
  align-items: center;
  justify-content: center;
}
p.address {
  font-size: 18px;
  font-weight: 700;
}

main {
  gap: 49px;
  margin-top: 23px;
  margin-bottom: 23px;
  padding: 29px 0 58px 75px;
}
.main img {
  width: 280px;
  height: 269px;
  padding-bottom: 63px;
}
li {
  padding-bottom: 36px;
  font-size: 18px;
}
.main p {
  color: white;
  background-color: black;
  font-size: 18px;
  text-decoration: none;
  padding: 21px 12px;
  border: 1px none;
  width: 80px;
  height: 21px;
}
.main a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-top: 20px;
}

footer {
  font-size: 18px;
  height: 95px;
  display: flex;
  align-items: center;
  justify-content: center;
}
